body{
  font-family: 'Yellowtail', cursive;
  margin: 0 0;
  font-size: 15px;

}

*,
*:before,
*:after{
  box-sizing: border-box;
 }

 blockquote {
margin: 0;
background: #FDFBFB;
color: #5F5F5F;
padding: 30px 30px 30px 80px;
position: relative;
font-family: 'Lato', sans-serif;
}
blockquote:before {
content: "\1F676";
position: absolute;
z-index: 2;
left: 30px;
top: 15px;
width: 60px;
height: 60px;
border-radius: 50%;
text-align: center;
line-height: 80px;
color: #F2EAD7;
font-size: 50px;
background: rgba(188,231,250, .7);
}
blockquote:after {
content: "";
position: absolute;
left: 34px;
top: 19px;
width: 60px;
height: 60px;
border-radius: 50%;
background: rgba(242,124,176, .7);
}
blockquote p {
font-size: 24px;
letter-spacing: .05em;
line-height: 1.4;
margin: 0 0 16px;
position: relative;
z-index: 3;
}
blockquote cite {
font-style: normal;
font-weight: 300;
}

* {box-sizing: border-box;}
.dbl-border {
  position: relative;
  display: table;
  margin: 50px auto;
}
.dbl-border img {display: block;}
.dbl-border:before,
.dbl-border:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 2px solid #a3cdf8;
}
.dbl-border:before {
  top: -15px;
  left: -15px;
}
.dbl-border:after {
  right: -15px;
  bottom: -15px;
}
.image-wrapper {
  position: relative;
  z-index: 2;
  padding: 5px;
  background: white;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
}
