body{
  font-family: 'times new roman', cursive;
  margin: 0 0;
  font-size: 15px;
  background:
linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px -37px,
linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px 111px,
linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px 37px,
linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px 37px,
linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 0px,
linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 0px,
linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 74px,
linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 74px;
background-size: 148px 148px;
background-color: #E8F4F2;
}

*,
*:before,
*:after{
  box-sizing: border-box;
 }

 .text{
   font-size: 20px;
   font-family: 'Yellowtail' cursive;
   font-size:1.5vw;
   padding-left: 1.5%;
   padding-right: 1.5%
   margin:2%;
 }

 p{
   font-size: 50px;
   padding-left: 4%;
   font-size:2vw;
 }

a{
  font-size: 40px;
  text-align: center;
  font-size:2vw;
}

* {box-sizing: border-box;}
.image-wrapper {
  position: relative;
  max-width: 400px;
  margin: 50px auto;
  padding: 15px;
  background: #DAEBE8;
}
.image-inner {position: relative;}
.image-wrapper img {
  display: block;
  width: 100%;
}
.image-wrapper:before,
.image-wrapper:after,
.image-inner:before,
.image-inner:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
}
.image-wrapper:before {
  bottom: 0;
  left: 0;
  border-left: 6px double #384D26;
  border-bottom: 6px double #384D26;
}
.image-wrapper:after {
  right: 0;
  top: 0;
  border-right: 6px double #384D26;
  border-top: 6px double #384D26;
}
.image-inner:before {
  bottom: -15px;
  right: -15px;
  border-right: 6px double #384D26;
  border-bottom: 6px double #384D26;
}
.image-inner:after {
  top: -15px;
  left: -15px;
  border-left: 6px double #384D26;
  border-top: 6px double #384D26;
}
