@import "compass/css3";

// ------------------------------------------------------------
// Variables
// ------------------------------------------------------------
// Typography
// ----------------------------------------
$f-sans: 'Open Sans', sans-serif;
$f-serif: 'Cardo', serif;


/* ------------------------------------------------------------
  Base Typography
------------------------------------------------------------ */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
   font-family: $f-serif;
background-image: url("bg.jpg");
}

h1 {
  color: #fff;
  font-family: $f-sans;
  font-size: 1.75rem;
  font-weight: 800;
  margin: .5em 0;
  text-align: center;
  text-transform: uppercase;

  span {
    font-family: $f-serif;
    font-size: .75em;
    font-style: italic;
    font-weight: 400;
    margin: 0 .3em 0 .1em;
    text-transform: none;
  }
}
.house {
  text-transform: uppercase;

  .house__name {
    font-size: 1.25rem;
    text-align: right;
    margin: 0;
  }
  .house__motto {
    margin: .5em 0 0;
  }
}
.house__name {
  font-weight: 400;
}
.house__motto {
  span {
    display: inline-block;
    line-height: .8;
  }
  .line {
    display: block;
  }
}

@media screen and (min-width: 380px) {
  h1 {
    font-size: 2rem;
  }
  .house {
    .house__name {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 500px) {
  html {
    font-size: 90%;
  }
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 100%;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 115%;
  }
}


/* ------------------------------------------------------------
  Layout
------------------------------------------------------------ */
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 2em 0 0;
}
.great-houses {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  min-width: 320px;
  max-width: 1100px;
}
.house {
  background-color:#d1e6ff;
  cursor: pointer;

  display: flex;
  align-items: center;

  margin-top: .5rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: center;
  min-height: 9rem;
  z-index: 2;

  &:after {
    box-shadow: inset 0 0 8px rgba(0,0,0, .8);
    content: '';
    display: block;
    pointer-events: none;
    position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    z-index: 10;
  }
}
.house__name {
  //display: none;
  background-repeat: no-repeat;
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  transition: all .4s ease-in;
  z-index: 1;

  span {
    position: absolute;
      right: 1em;
    z-index: 2;
  }
}
.house__motto {
  flex: 1;
  padding: 1rem 0;
}

.house:hover {
  .house__name {
    left: -100%;
  }
}
@media screen and (min-width: 380px) {
  .house__name {
    span {
      right: 15%;
      text-align: center;
    }
  }
}
@media screen and (max-width: 500px) {
  .house__name {
    width: 85%;

    &:before,
    &:after {
      box-shadow: 4px 0 2px -2px rgba(0,0,0, .4);
      content: '';
      display: block;
      position: absolute;
        right: 0;
      width: 20%;
      height: 100%;
      z-index: 0;
    }
    &:before {
      top: -50%;
      transform-origin: right bottom;
      transform: rotate(30deg);
    }
    &:after {
      top: 50%;
      transform-origin: right top;
      transform: rotate(-30deg);
    }
    span {
      margin: -.5em auto 0;
        top: 50%;
        left: 40%;
    }
  }
}

@media screen and (min-width: 500px) {
  .great-houses {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
  }
  .house {
    margin: .5rem 1%;
    width: 48%;
  }
  .house__name {
    width: 100%;

    span {
      bottom: 5%;
      right: 5%;
    }
  }
}

@media screen and (min-width: 900px) {
  .house {
    width: 31.33333333%;
  }
}
@media screen and (min-width: 1200px) {
  .house__motto {
    padding: 1.5rem 0;
  }
}



/* ------------------------------------------------------------
  Footer
------------------------------------------------------------ */
footer {
  border: 1px dotted #ccc;
  background: rgba(0,0,0, .8);
  border-width: 1px 0;
  color: #aaa;
  display: block;
  margin-top: 5rem;
  padding: 2rem 5%;
  line-height: 1.5;
  text-align: center;

  p {
    font-family: $f-sans;
    font-size: .75rem;
    margin: 0;
  }
  a {
    color:  #ccc;
    display: inline-block;
    font-weight: bold;
    padding: .2em;

    &:hover {
      color: #fff;
    }
  }
}

@media screen and (min-width: 500px) {
  footer {
    text-align: left;

    p:before {
      content: "\2022\0020 ";
    }
  }
}
@media screen and (min-width: 1200px) {
  footer {
    p {
      font-size: .666666rem;
    }
  }
}

/* ------------------------------------------------------------
  Houses Styles
------------------------------------------------------------ */
@each $house in $houses-style {
  .is--#{nth($house, 1)} {
    background-color: #{nth($house, 3)};
    background-position: 0 #{nth($house, 5)};
    color: #{nth($house, 2)};

    .house__name {
      background-color: #{nth($house, 2)};
      background-image: url(#{nth($house, 4)});

      &:before,
      &:after {
        background: #{nth($house, 2)};
      }
    }
  }
}

.container {
    background:#d1e6ff;
    margin:20px auto;
    padding:20px;
    position:relative;
    width:700px;

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    box-shadow:1px 1px 5px #111;
    -moz-box-shadow:1px 1px 5px #111;
    -webkit-box-shadow:1px 1px 5px #111;
}

/* css3 photo gallery styles */
.gallery {

    width: 650px;
    margin:7% auto;
}
.gallery a {
    display:inline-block;
    height:150px;
    position:relative;
    width:200px;
}
.gallery a img {
    border:5px solid #d1e6ff;
    cursor:pointer;
    display:block;
    height:100%;
    left:0px;
    position:absolute;
    top:0px;
    width:100%;
    z-index:1;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;

    -webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
    -webkit-transition-duration:0.5s;
    -moz-transition-property:width, height, top, bottom, left, right, z-index, border;
    -moz-transition-duration:0.5s;
    -o-transition-property:width, height, top, bottom, left, right, z-index, border;
    -o-transition-duration:0.5s;
    transition-property:width, height, top, bottom, left, right, z-index, border;
    transition-duration:0.5s;
}
.gallery a:focus img {
    border:15px solid #d1e6ff;
    cursor:default;
    height:250%;
    position:absolute;
    width:250%;
    z-index:25;

    box-shadow:1px 1px 5px #888;
    -moz-box-shadow:1px 1px 5px #888;
    -webkit-box-shadow:1px 1px 5px #888;
    -webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
    -webkit-transition-duration:0.5s;
    -moz-transition-property:width, height, top, bottom, left, right, z-index, border;
    -moz-transition-duration:0.5s;
    -o-transition-property:width, height, top, bottom, left, right, z-index, border;
    -o-transition-duration:0.5s;
    transition-property:width, height, top, bottom, left, right, z-index, border;
    transition-duration:0.5s;
}

/* custom focus rules */
.gallery a:focus:nth-child(3n+1) img {
left:150px;
}
.gallery a:focus:nth-child(3n+2) img {
    left:-50px;
}
.gallery a:focus:nth-child(3n+3) img {
    left:-250px;
}
.gallery a:focus:nth-child(-n+3) img {
    top:140px;
}
.gallery a:focus:nth-child(n+7) img {
    top:-150px;
}
.gallery a:focus:nth-child(n+10) img {
    top:-295px;
}

/* extra close layer */
.gallery .close {
    background:transparent;
    cursor:pointer;
    display:none;
    height:352px;
    left:170px;
    position:absolute;
    top:160px;
    width:500px;
    z-index:30;
}
.gallery a:focus ~ .close {
    display:block;
}
